* {
    margin: 0;
    padding: 0;
    text-align: center;
}

body {
    background-color: #e1a0a7;
}

h1 {
    background-color: #12355B;
    color: white;
    height: 5rem;
    line-height: 5rem;
}

.choice {
    height: 200px;
    width: 200px;
    background-color: #420039;
    border-radius: 50%;
    border: 10px solid #FF570A;
}

.choices {
    font-size: 8rem;
    display: flex;
    align-items: center;
    /* justify-content: space-evenly; */
    justify-content: center;
    gap: 80px;
    margin-top: 10px;
}